@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Todos</h1>
    <p>Hello, World! The time on the server is @DateTime.Now</p>
</div>

@foreach (var todo in Model.Todos)
{
    <h2>@todo.Title</h2>    
}
